/*-Section-*/
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    font-size: 32px;
    color: rgb(36, 32, 45);
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.section1{
    width: 100%;
    height: 150px;
    display: flex;
}
.logo{
    margin-left: 89px;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*--*/

.searchbox{
    z-index: 1;
    display: flex;
    right: 89px;
    margin-top: 50px;
    position: fixed;
    align-items: center;
    justify-content: center;
}
.searchbox .search{
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    width: 170px;
    height: 44px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    border: 1px solid rgba(167, 158, 245, 0.1);
}
.searchbox .search i{
    padding: 11px;
    margin-left: 10px;
}
.searchbox .search input{
    border: none;
    outline: none;
    width: 100px;
    height: 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

/*--*/

.section2{
    width: 100%;
    height: 690px;
    display: flex;
}
.section2 .img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 490px;
    height: 310px;
    margin-left: 10.5%;
    margin-top: 113px;
    position: absolute;
}
.section2 .img1 img{
    width: 473px;
}
.section2 .button1{
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 477px;
    right: 7%;
    margin-top: 150px;
    line-height: 6px;
    color: #2e2f45;
}
.section2 .button1 .h1{
    font-size: 64px;
    font-family: serif;
    letter-spacing:31px;
}
.section2 .button1 .h2{
    font-size: 64px;
    font-family: serif;
    letter-spacing: 3.5px;
}

.section2 .button1 .h1 .span1{
    color: #626ae5;
    font-family: Arial, Helvetica, sans-serif;
}
.section2 .button1 .h2 .span2{
    color: #626ae5;
    font-family: sans-serif;
}
.section2 .button1 button{
    color: white;
    background-color: #2e2f45;
    border: none;
    outline: none;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    font-family: serif;
    font-size: 17px;
    margin-top: -9px;
    transition: .4s;
}
.section2 .button1 button:hover{
    background-color: #626ae5;
}
.icons{
    width: 48px;
    height: 234px;
    top: 50%;
    left: 30px;
    position: fixed;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateY(-50%);
    
}
.icons a{
    font-size: 15px;
    display:flow-root;
    color: #53545d;
    padding: 16.5px ;
}
.icons .yt:hover{
    color: red;
}
.icons .inst:hover{
    color: rgb(255, 0, 191);
}
.icons .tw:hover{
    color: rgb(0, 187, 255);
}
.icons .fb:hover{
    color: rgb(28, 85, 229);
}
/*-Section-*/

/*-SectionA-*/
.sectionA{
    width: 85%;
    height: 1000px;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    margin: 30px auto;
    background-size: 1000px;
    display: flex;
    padding: 40px 20px;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin-top: -60px;

}
.logoA{
    text-shadow: 2px 2px 10px rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    color: #53545d;
    font-size: 23px;
    font-family: serif;
    margin-left: 0;
}
.logoA span{
    color: #626ae5;
    font-family: sans-serif;
}

/*--1--*/
.Micon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    width: 100%;
    font-family: serif;
}
.iconBox{
    transition: .2s;
    width: 250px;
    height: 330px;
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconBox:hover{
	box-shadow: 2px 2px 30px rgba(45, 42, 67, 0.2);
    border-radius: 8px;
}
.iconBox img{
    width: 220px;
    
}
.iconBox .a1{
    font-size: 16px;
    margin-top: -15px;
    color: #53545d;
}
.iconBox .a2{
    transition: .2s;
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
	background:linear-gradient(120deg,#6b60ec 20%,#a166f4);
    width: 140px;
    height: 40px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: 330px;
    position: absolute;
    color: #fff;
}
.iconBox:hover .a2{
    display: flex;
}
.iconBox p{
    margin-top: 0px;
    opacity: .5;
    font-size: 15px;
}
/*--1--*/

